
<h2><%= @blog.title %></h2>

<p>最終更新日：<%= @blog.updated_at %></h2>
<p>投稿日：<%= @blog.updated_at %></h2>

<% if @blog.reviews.any? %>
<ul>
  <% @blog.reviews.each do |review| %>
    <li>
    <%= "#{review.name}：" %>
    <%= review.comment %>
    </li>
  <% end %>
</ul>
<% end %>
<p><%= link_to "コメントをのせる", new_blogs_content_review_path(@blog) %></p>

<p><%= link_to "ブログTopに戻る", users_display_path(@blog.user.id) %></p>
<p><%= link_to 'Homeに戻る', blogs_window_index_path %><p>