<div id="wrapper">
<%= render "blogs/shared/header" %>
  <div id="main_container">
  
  <div id="header_local">
    <p><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></p>
  </div>
  <div id="header_blog">
    <p><%= @user.family_name.to_s.humanize %>さんのブログ</p>
    <p><%= link_to 'アカウント', user_path(current_user.id) %></p>
  </div>
    <div id="sub_container" >
      <div id="profile">
        <p><%= link_to "プロフィール", users_my_profile_path(current_user.id) %></p>
      </div>
      <div id="blog_container">
        <p>これまで書いた記事</p>
        <p><%= link_to '記事の追加', new_blogs_my_content_path %></p>
          <ul>
          <% @blogs.each do |blog| %>
          <li>
            <%= link_to blog.title, blogs_my_content_path(blog.id) %>
            <%= link_to blog.updated_at, blogs_my_content_path(blog.id) %>
            <%= link_to '削除', blogs_my_content_path(blog.id), method: :delete, data: { confirm: '本当に削除してもよろしいですか？' } %>
          </li>
          <% end %>
          </ul>
      </div>
    </div>
  
  </div>
<%= render "blogs/shared/footer" %>
</div>