<div id="wrapper_my_content">

  <div class="main_container">
    <div class="container_setting">

      <div class="owner">
        <p class="name"><%= "#{@user.family_name.to_s.humanize} #{@user.given_name.to_s.humanize}さんのページ" %></p>
      </div>
      <div class="account">
        <p class="image"><%= link_to image_tag("account_circle_white_24dp.png", class:"image_account"), user_path(@user) %></p>
        <p class="chara_account"><%= link_to "ユーザー情報", user_path(@user) %></p>
      </div>

      <div class="profile">
        <p class="portrait">
          <% if @user.portrait.attached? %>
            <%= link_to image_tag(@user.portrait.variant(resize_to_limit:[200,200])), users_my_profile_path(@user) %>
          <% else %>
             <%= "" %>
          <% end %>
        </p>
        <p class="chara_profile"><%= link_to "Profile", users_my_profile_path(@user) %></p>
      </div>

      <div class="blog_background">
        <p class="background_image">
          <% if @user.background.attached? %>
            <%= link_to image_tag(@user.background.variant(resize_to_limit:[200,200])), users_blog_design_path(@user) %>
          <% else %>
            <%= "" %>
          <% end %>
        </p>
        <p class="chara_background_image"><%= link_to "ブログのデザイン", users_blog_design_path(@user) %></p>
      </div>

    </div>

    <div class="dummy">
    </div>

    <div id="header_logout">
      <p class="image"><%= link_to image_tag("logout_white_24dp.svg", class:"image_logout"), destroy_user_session_path, method: :delete %></p>
      <p class="chara"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></p>
    </div>

  </div>  
  
  <div class="container_blog_load">
    <div class="blog_load">
      <div class="blog_name">
        <p class="name">
          <% if @user.blog_name? %>
            <%= @user.blog_name %>
          <% else %>
            <%= "" %>
          <% end %>
        </p>
      </div>

      <div class="blog_container_title">
        <p>これまで書いたもの</p>
      </div>
      <div class="blog_new">
        <p><%= link_to '＋', new_blogs_my_content_path %></p>
      </div>
      <div class="blogs">
        <ul>
        <% @blogs.each do |blog| %>
        <li>
          <div class="container_caption">
            <p class="image">
              <% if blog.caption_image.attached? %>
                <%= link_to image_tag(blog.caption_image.variant(resize_to_limit:[150,150])), blogs_my_content_path(blog.id) %>
              <% else %>
                <%= link_to image_tag(blog.user.background.variant(resize_to_limit:[150,150])), blogs_my_content_path(blog.id) %>
              <% end %>
            </p>
          </div>
          <div class="container_content">
            <p class="title"><%= link_to blog.title, blogs_my_content_path(blog.id) %></p>
            <p class="content"><%= link_to truncate(strip_tags(blog.content.to_s), length: 60, omission: "…"), blogs_my_content_path(blog.id) %></p>
          <div class="container_delete">
            <p class="time">
              <%= link_to blog.created_at.strftime("%Y/%m/%d %H:%m 更新"), blogs_my_content_path(blog.id) %>
            </p>
            <p class="messages"><%= link_to "メッセージ #{blog.good_count}件", blogs_my_content_message_index_path(blog.id) %></p>
            <p class="delete">
              <%= link_to image_tag("delete_outline_black_24dp.png", class:"image_trash"), blogs_my_content_path(blog.id), method: :delete, data: { confirm: '本当に削除してもよろしいですか？' } %>
            </p>
          </div>
          </div>
        </li>
        <% end %>
        </ul>
      </div>

      <div class="pagination">
        <%= paginate @blogs %>
      </div>
    </div> 
  </div> 

</div>