<p><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></p>

<p><%= @user.family_name %>さんのブログ</p>
<p><%= @blog.updated_at %>の記事</p>

<p>タイトル：
  <%= @blog.title %>
</p>
<p>見出しイメージ：
  <% if @blog.caption_image.attached? %>
    <%= image_tag @blog.caption_image.variant(resize_to_limit:[150,150]) %>
  <% else %>
    <%= image_tag @blog.user.background.variant(resize_to_limit:[150,150]) %>
  <% end %>
</p>
<p>内容：
  <%= @blog.content %>
</p>
<p>最終更新日：<%= @blog.updated_at %></p>
<p>投稿日：<%= @blog.updated_at %></p>

<% if @blog.privious.present? %>
<%= link_to "<<前の記事", blogs_my_content_path(@blog.privious) %>
<% end %>
<% if @blog.next.present? %>
<%= link_to "後の記事>>", blogs_my_content_path(@blog.next) %>
<% end %>

<p>
  <%= link_to '編集', edit_blogs_my_content_path(@blog) %>
</p>
<p>
  <%= link_to '削除', blogs_my_content_path(@blog), method: :delete, data: { confirm: '本当に削除してもよろしいですか？' } %>
</p>

<p><%= link_to "TOPに戻る", root_path %></p>
