<div id="wrapper_my_content">

  <div class="blog_background">
    <% if @user.background.attached? %>
    <%= image_tag(@user.background.variant(resize_to_limit:[200,200])) %>
    <% end %>
  </div>

  <div class="container_blog_load">
    <div class="blog_load">
      <div class="container_blog_name">
        <p class="corp_name">minato no-en presents</p>
        <h1 class="blog_name"><%= @user.blog_name %></h1>
          <div class="title_image">
            <% if @user.title_image.attached? %>
              <%= image_tag(@user.title_image.variant(resize_to_limit:[150,150])) %>
            <% else %>
              <% "" %>
            <% end %>
          </div>
          <% if @user.self_introduction? %>
            <%= @user.self_introduction %>
          <% else %>
              <%= "" %>
          <% end %>
          <div class="reviews_my_content">
            <p class="messages"><%= link_to "メッセージ #{@blog.good_count}件", blogs_my_content_message_index_path(@blog) %></p>
          </div>
      </div>

      <div class="container_article" >
        <h2 class="title"><%= @blog.title %></h2>
        <div class="content">
          <%= @blog.content %>
        </div>
        <div class="update">最終更新日：<%= @blog.updated_at.strftime("%Y/%m/%d %H:%m 更新") %></div>
        <div class="create">投稿日：<%= @blog.updated_at.strftime("%Y/%m/%d %H:%m 作成") %></div>

        <p class="submit">
          <%= link_to '編集', edit_blogs_my_content_path(@blog) %>
        </p>
        <p class="delete">
          <%= link_to '削除', blogs_my_content_path(@blog), method: :delete, data: { confirm: '本当に削除してもよろしいですか？' } %>
        </p>

        <div class="move">
          <% if @blog.previous.present? %>
            <%= link_to "<<前の記事", blogs_my_content_path(@blog.previous) %>
          <% end %>
            <% if @blog.next.present? %>
          <%= link_to "後の記事>>", blogs_my_content_path(@blog.next) %>
          <% end %>
        </div>

        <div class="back_to_top"><%= link_to "Topに戻る", root_path %></div>
      </div>
    </div>
  </div>

</div>
