<div id="wrapper">
  <%= render "users/shared/header" %>    
  <div id="container">

  <div id="title">
    <h2>ご利用者さまのページ</h2>
  </div>

    <div id="form">
    <%= form_with model: @user, url: user_session_path do |f| %>
      <div class="field">
        <%= f.label "メールアドレス" %><br />
        <%= f.email_field :email, placeholder: "メールアドレス", autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label "パスワード" %><br />
        <%= f.password_field :password, placeholder: "パスワード", autofocus: true, autocomplete: "current-password" %>
      </div>
      
      <div class="actions">
        <%= f.submit "ログイン" %>
      </div>
    <% end %>
    </div>
  
  </div>
  <%= render "users/shared/links" %>

  <%= render "users/shared/footer" %>

</div>


