<p><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></p>

<p><%= @user.family_name %>さんのプロフィール</p>
  <p>写真／似顔絵：
    <% if @user.portrait.attached? %>
    <%= image_tag @user.portrait.variant(resize_to_limit:[150,150]) %>
    <% else %>
    <%= "画像がありません" %>
    <% end %>
  </p>
  <p>名字：<%= @user.family_name %></p>
  <p>名前：<%= @user.given_name %></p>
  <p>みょうじ：<%= @user.family_name_kana %></p>
  <p>なまえ：<%= @user.given_name_kana %></p>
  <p>経歴：<%= @user.career %></p>
<p><%= link_to "編集する", edit_users_my_profile_path(@user) %></p>
<p><%= link_to "TOPに戻る", root_path %></p>


