<div id="wrapper_admin_content">

  <div class="blog_background">
    <% if @user.background.attached? %>
    <%= image_tag(@user.background.variant(resize_to_limit:[200,200])) %>
    <% end %>
  </div>

  <div class="container_blog_load">
    <div class="blog_load">
      <div class="container_blog_name">
        <p class="edit_blog">Edit blog</p>
          <p class="corp_name">minato no-en presents</p>
          <h1 class="blog_name">
            <%= @user.blog_name %>
          </h1>
          <div class="title_image">
            <% if @user.title_image.attached? %>
              <%= image_tag(@user.title_image.variant(resize_to_limit:[150,150])) %>
            <% else %>
              <%= "" %>
            <% end %>
          </div>
      </div>


      <div class="container_blog_f">
        <%= form_with model: @blog, url: blogs_admin_content_path(@blog) do |f| %>
          <div class="title_blog">
            <p class="chara">タイトル</p>
            <%= f.text_field :title, placeholder: '20字以内' %>
          </div>
          <div class="caption_blog">
            <p class="chara">見出しイメージ</p>
            <%= f.file_field :caption_image, placeholder: '写真・絵など'%>
          </div>
          <div class="content_blog">
            <p class="chara">内容</p>
            <%= f.rich_text_area :content, placeholder: '内容' %>
          </div>
          <div class="submit">
            <%= f.submit %>
          </div>
          <p class="delete">
          <%= link_to '削除', blogs_admin_content_path(@blog), method: :delete, data: { confirm: '本当に削除してもよろしいですか？' } %>
          </p>
        <% end %>

        <div class="back_to_prev"><%= link_to '前に戻る', blogs_admin_content_path(@blog) %></div>
      </div>

      <div class="back_to_top"><%= link_to "Topに戻る", blogs_admin_content_index_path %></div>

    </div>
  </div>
</div>


