<p><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></p>

<p><%= @user.family_name %>さんのブログ</p>
  <p>New blog</p>
  <%= form_with model: @blog, url: blogs_admin_content_index_path do |f| %>
    <p>タイトル：
      <%= f.text_field :title, placeholder: 'タイトル' %>
    </p>
    <p>見出しイメージ：
      <%= f.file_field :caption_image, placeholder: '写真・絵など' %>
    </p>
    <p>内容：
      <%= f.rich_text_area :content %>
    </p>
    <p>
    <%= f.submit %>
    </p>
  <% end %>

<p><%= link_to "Topに戻る", blogs_admin_content_index_path %></p>
