<p><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></p>

<p><%= @user.family_name %>さんのブログ</p>
<p><%= @blog.updated_at %>の記事</p>

<p>タイトル：
  <%= @blog.title %>
</p>
<p>内容：
  <%= @blog.content %>
</p>
<p>最終更新日：<%= @blog.updated_at %></p>
<p>投稿日：<%= @blog.updated_at %></p>

<% if @blog.privious.present? %>
<%= link_to "<<前の記事", blogs_admin_content_path(@blog.privious) %>
<% end %>
<% if @blog.next.present? %>
<%= link_to "後の記事>>", blogs_admin_content_path(@blog.next) %>
<% end %>

<p>
  <%= link_to '編集', edit_blogs_admin_content_path(@blog) %>
</p>
<p>
  <%= link_to '削除', blogs_admin_content_path(@blog), method: :delete, data: { confirm: '本当に削除してもよろしいですか？' } %>
</p>

<p><%= link_to "Topに戻る", blogs_admin_content_index_path %></p>
