<div id="wrapper_top">

  <div id="setting_blog_name">
    <h2>
      <% if @user.blog_name? %>
      <%= @user.blog_name %>
      <% else %>
      <%= "#{@user.family_name}さんのブログ" %>
      <% end %>
    </h2>
  </div>
  <div id="container_my_page">
    <div id="my_page">
      <p><%= link_to image_tag("person_white_24dp.svg", class:'logo_sign_in'), new_user_session_path %></p>
      <p id="chara_my_page"><%= link_to "My page", new_user_session_path %></p>
    </div>
  </div>

  <div id="blog_background">
    <% if @user.background.attached? %>
    <%= image_tag(@user.background.variant(resize_to_limit:[200,200])) %>
    <% end %>
  </div>

    <div id="profile">
      <p><%= link_to 'Profile', users_profile_path(@user) %></p>
    </div>

    <div id="blog_container">
      <div id="container_latest">
        <div id="subcontainer_latest">
          <div id="latest">
            <p>最近のブログ</p>
          </div>
        </div>
      </div>
      <div id="dummy">
        <div id="sub_container">
          <div id="navi_container">
            <p id="navi">最新のブログ</p>
            <p><%= image_tag("double_arrow_black_24dp.svg", class:"arrow") %></p>
          </div>
          <ul>
            <% @blogs.first(9).each do |blog| %>
            <li>
                <p id="caption_image">
                  <% if blog.caption_image.attached? %>
                    <%= link_to image_tag(blog.caption_image.variant(resize_to_limit:[150,150])), blogs_content_path(blog.id) %>
                  <% else %>
                    <%= link_to image_tag(blog.user.background.variant(resize_to_limit:[150,150])), blogs_content_path(blog.id) %>
                  <% end %>
                </p>
                <div id="article">
                  <p id="title"><%= link_to blog.title, blogs_content_path(blog.id) %></p>
                  <p id="content"><%= link_to truncate(strip_tags(blog.content.to_s), length: 30, omission: "…"), blogs_content_path(blog.id)  %></p>
                  <p id="time"><%= link_to blog.created_at.strftime("%Y/%m/%d %H:%m 更新"), blogs_content_path(blog.id) %></p>
                </div>
            </li>
            <% end %>
          </ul>
        </div>
          <p id="archive"><%= link_to "過去のブログを見る", users_display_path(@user) %></p>
      </div>
      <div id="home_tag">
        <p id="image"><%= link_to image_tag("home_white_24dp.svg", class:"home"), blogs_window_index_path %></p>
        <p id="come_home"><%= link_to 'Homeに戻る', blogs_window_index_path %><p>
      </div>
    </div>
    
</div>