<div id="wrapper_top">

  <div id="setting_blog_name">
    <h2>
      <% if @user.blog_name? %>
      <%= @user.blog_name %>
      <% else %>
      <%= "#{@user.family_name}さんのブログ" %>
      <% end %>
    </h2>
  </div>
  <div id="container_my_page">
    <div id="my_page">
      <p><%= link_to image_tag("person_white_24dp.svg", class:'logo_sign_in'), new_user_session_path %></p>
      <p id="chara_my_page"><%= link_to "My page", new_user_session_path %></p>
    </div>
  </div>

  <div id="blog_background">
    <% if @user.background.attached? %>
    <%= image_tag(@user.background.variant(resize_to_limit:[200,200])) %>
    <% end %>
  </div>

    <div id="profile">
      <p><%= link_to 'Profile', users_profile_path(@user) %>
    </div>

    <div id="latest">
      <p>最近のブログ</p>
    </div>
    <div id="blog_container">
      <ul>
        <% @blogs.first(12).each do |blog| %>
        <li>
            <p id="article">
              <%= link_to blog.title, blogs_content_path(blog.id) %>
              <%= link_to blog.created_at, blogs_content_path(blog.id) %>
            </p>
        </li>
        <% end %>
      </ul>
    </div>
        
    <p><%= link_to "過去のブログを見る", users_display_path(@user) %></p>

    <p><%= link_to 'Homeに戻る', blogs_window_index_path %><p>


</div>