<div id="wrapper_profile">

  <div id="setting_blog_name">
    <h2>
      <% if @user.blog_name? %>
      <%= @user.blog_name %>
      <% else %>
      <%= "#{@user.family_name}さんのブログ" %>
      <% end %>
    </h2>
  </div>
  <div id="container_my_page">
    <div id="my_page">
      <p><%= link_to image_tag("person_white_24dp.svg", class:'logo_sign_in'), new_user_session_path %></p>
      <p id="chara_my_page"><%= link_to "My page", new_user_session_path %></p>
    </div>
  </div>

  <div id="blog_background">
    <% if @user.background.attached? %>
    <%= image_tag(@user.background.variant(resize_to_limit:[200,200])) %>
    <% end %>
  </div>

  <div id="container_back_to_top">
    <div id="back_to_top">
      <p><%= link_to image_tag("undo_white_24dp.svg", class:"image_come_top"), users_top_path %></p>
      <p id="chara_back_to_top"><%= link_to 'Topに戻る', users_top_path %></p>
    </div>
  </div>

  <div id="container_profile">
    <div id="profile">
      <p id="title">Profile</p>
      <p id="image">
        <% if @user.portrait.attached? %>
          <%= image_tag @user.portrait.variant(resize_to_limit:[150,150]) %>
        <% else %>
          <%= "画像がありません" %>
        <% end %>
      </p>
      <p id="tab_name">氏　　名</p>
        <p id="name"><%= "#{@user.family_name}" "　#{@user.given_name}" %></p>
      <p id="tab_name_kana">ふりがな</p>
        <p id="name_kana"><%= "#{@user.family_name_kana}" "　#{@user.given_name_kana}" %></p>
      <p id="tab_career">経　　歴</p>
      <div id="career">
        <% if @user.life_history? %>
          <%= @user.life_history %>
        <% else %>
          <%= "記載がありません" %>
        <% end %>
      </div>
    </div>
    <div id="home_tag">
      <p id="image"><%= link_to image_tag("home_white_24dp.svg", class:"home"), blogs_window_index_path %></p>
      <p id="come_home"><%= link_to 'Homeに戻る', blogs_window_index_path %><p>
    </div>
  </div>

</div>
