<p><%= link_to 'ログイン', new_user_session_path %></p>

<p>写真／似顔絵：
  <% if @user.portrait.attached? %>
  <%= image_tag @user.portrait.variant(resize_to_limit:[150,150]) %>
  <% else %>
  <%= "画像がありません" %>
  <% end %>
</p>
<p>氏名：<%= "#{@user.family_name}" "　#{@user.given_name}" %></p>
<p>ふりがな：<%= "#{@user.family_name_kana}" "　#{@user.given_name_kana}" %></p>
<p>経歴：<%= @user.career %></p>

<p><%= link_to "ブログTopに戻る", users_top_path(@user) %></p>
