<h2>パスワードをリセットする</h2>
<p>「パスワード再設定ページのURL」を、入力頂いたメールアドレスに送信致します。<br />
以下にメールアドレスを入力し、「送信する」を押して下さい。</p>

<%= form_for(resource, as: resource_name, url: user_password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "送信する" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
