<div id="wrapper_logininfo">

  <div class="main_container_logininfo">
    <p class="name_logininfo">
      <%= "#{@user.family_name} #{@user.given_name}さんのページ" %>
    </p>

    <div class="dummy_logininfo">
    </div>

    <div id="header_logout">
      <p class="image"><%= link_to image_tag("logout_white_24dp.svg", class:"image_logout"), destroy_user_session_path, method: :delete %></p>
      <p class="chara"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></p>
    </div>
  </div>


  <div class="sub_container_logininfo">
    <div class="container_info">
      <p class="info">ユーザー情報</p>

        <p class="basic_logininfo">ログイン情報</p>
        <%= form_with model: @user, url: users_logininfo_path(@user) do |f| %>
          <div class="email">
            <p class="chara">メールアドレス</p>
            <p class="input">
              <%= f.email_field :email, placeholder: 'メールアドレス' %>
            </p>
          </div>
          <div class="email">
            <p class="chara">確認用</p>
            <p class="input">
              <%= f.email_field :email_confirmation, placeholder: '確認用メールアドレス' %>
            </p>
          </div>


          <div class="password">
            <p class="chara">パスワード</p>
            <p class="input">
              <%= f.password_field :password, placeholder: 'パスワード' %>
            </p>
          </div>
          <div class="password">
            <p class="chara">確認用</p>
            <p class="input">
              <%= f.email_field :password_confirmation, placeholder: '確認用パスワード' %>
            </p>
          </div>



          <p class="caution">「更新する」をクリックすると、セキュリティ上の理由からログアウト致します。<br />
          お手数ですが、変更したログイン情報で再ログインをお願い致します。</p>
  
          <div class="submit_logininfo">
            <%= f.submit %>
          </div>
         <% end %>

         <p class="back_to_prev"><%= link_to '前に戻る', user_path(@user) %></p>

        <p class="back_to_top"><%= link_to 'TOPに戻る', root_path %></p>

    </div>
  </div>

</div>