<p><%= link_to 'ログイン', new_user_session_path %></p>

<ul>
  <% @users.each do |user| %>
  <li>
    <%= link_to "#{user.family_name}さんのブログ", users_top_path(user.id) %>
  </li>
  <% end %>
</ul>

<p>最近の記事</p>
  <ul>
    <% @blogs.first(5).each do |blog| %>
    <li>
      <%= link_to "#{blog.user.family_name}さん", blogs_content_path(blog.id) %>
      <%= link_to blog.title, blogs_content_path(blog.id) %>
      <%= link_to blog.created_at, blogs_content_path(blog.id) %>
    </li>
    <% end %>
  </ul>
